.carouselContainer {
  text-align: center;
}

.carouselContainer .paginationButton {
  width: 3.75rem;
  height: .5rem;
  background-color:var(--primaryGreen);
  border-radius: 0.25rem;
}

.carouselContainer .disappear {
  display: none;
}

.heightInLastCard {
  height: 100vh;
}

